# Build artifacts
.build/
DerivedData/

# Xcode user data
xcuserdata/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcscmblueprint

# Playgrounds timeline/workspace (있으면)
timeline.xctimeline
playground.xcworkspace

# Package manager outputs (옵션)
Packages/
Carthage/Build/
Pods/

# Fastlane (옵션)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
